<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
          <h3>Create a Recipe</h3>
          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
              <label for="Title">Title</label>
              <input type="text" class="form-control" name="title" [(ngModel)]="recipe.title" #title="ngModel" [ngClass]="{ 'is-invalid': f.submitted && title.invalid }" required />
              <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
                  <div *ngIf="title.errors.required">title is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="Description">Description</label>
              <input type="text" class="form-control" name="description" [(ngModel)]="recipe.description" #description="ngModel" [ngClass]="{ 'is-invalid': f.submitted && description.invalid }" required />
              <div *ngIf="f.submitted && description.invalid" class="invalid-feedback">
                <div *ngIf="description.errors.required">description is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="Title">Category</label>
              <input type="text" class="form-control" name="category" [(ngModel)]="recipe.category" #category="ngModel" [ngClass]="{ 'is-invalid': f.submitted && category.invalid }" placeholder='Italian, Vegan etc.'required />
              <div *ngIf="f.submitted && category.invalid" class="invalid-feedback">
                <div *ngIf="title.errors.required">Category is required</div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">Create a Recipe</button>
            </div>
          </form>
            </div>
        </div>
    </div>
</div>